

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
   background: url(https://i.pinimg.com/550x/14/aa/bb/14aabb9a1afdfd0253a3750019bd58b2.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 20px 100px;
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.menu {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px; 
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}